.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#103a32;
    padding: 20px;
}
.center-text {
    flex-grow: 1;
    text-align: center;
    color:white;
}
.buttons {
    display: flex;
    gap: 10px;
}
.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.button:hover {
    background-color: #45a049;
}
.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1c1917;
    padding: 20px;
    float:left;
}
.container2 a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}
.container2 a:hover {
    background-color: #ddd;
    color: black;
}

.container3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1c1917;
    padding: 20px;
    padding-bottom:16px;
    
}
.images{
    display: flex;
    justify-content: space-between;
}
.l1{
    width: 40%;
}
.r1{
    width:60%;
}
.mainproduct
{
    color: black;
    width: 50%;
}
.mainproduct h1{
    padding-top: 1px;
    padding-left: 80px;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    
}
.mainproduct p{
    padding-top: 5px;
    padding-left: 80px;
}
    .mainproduct h4 {
        font-size: 24px;
        color: #fff;
        background-color: #103a32;
        padding: 10px;
        padding-left: 10px;
        border-radius: 5px;
        width: fit-content;
        margin-left: 80px;
    }

r2{
    width: 50%;
    
}
.r2 img{
    border-color: #ddd;
    border-radius: 30px;
    padding-top: 10px;
    padding-right: 150px;

}
.images2{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.images2 img{
    width: 25%;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 50px;
    border-radius: 15px;
    height: 400px;
}
.section{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.images2 h4{
    color: black;
    width :25%;
    margin-top: 10px;
}